@import 'constants.styl'
@import 'fonts.styl'
@import 'utils.styl'


border-color = colorBorder
border-color-hover = colorEmp1
border-color-disabled = mix(colorBorder, colorBg, 50%)
text-color = colorBorder
text-color-hover-1 = colorEmp1
text-color-disabled = mix(colorBorder, colorBg, 50%)
bg-color = colorBg
bg-color-hover = saturation(bg-color, 120%)
bg-color-disabled = saturation(bg-color, 20%)

text-color-hover-2 = colorText1
shadow-color = mix(black, transparent, 70%)


button()
  cursor pointer
  box-sizing border-box
  padding 10px
  color text-color
  text-shadow none
  background bg-color
  border colorBorder solid 1px
  border-radius 999999999px
  transition all 0.2s ease
  font-medium()
  font-bold()
  centered-margin()
  centered-flex-container()

  &:hover
    color text-color-hover-1
    border-color border-color-hover
  // box-shadow 5px 5px 15px shadow-color

  &[disabled]:not([disabled="false"])
    pointer-events none
    color text-color-disabled
    background bg-color-disabled
    box-shadow none

button-no-fill()
  button()

  min-height 40px
  padding 10px 20px
  color colorText1
  background transparent
  border bg-color solid 2px

  &:hover
    color colorTextDark1
    background bg-color
    border-color bg-color

  &[disabled]:not([disabled="false"])
    color colorText3
    background mix(bg-color, transparent, 40%)

button-danger()
  button()

  background mix(colorError, transparent)
  border-color colorError

  &:hover
    color colorText1
    border-color mix(colorError, white)

button-success()
  button()

  color colorText3
  background mix(colorSuccess, transparent)
  border-color colorSuccess

  &:hover
    color colorText1
    border-color mix(colorSuccess, white)

