// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp1 = #66ff00
colorEmp2 = #e30bea
colorEmp3 = #ffdd00

colorBg = #303030

colorText1 = #e7e7e7
colorText2 = mix(colorText1, black, 90%)
colorText3 = mix(colorText1, black, 80%)
colorText4 = mix(colorText1, black, 65%)
colorText5 = mix(colorText1, black, 50%)

colorTextDark1 = #1a1a1a
colorTextDark2 = mix(colorTextDark1, white, 90%)
colorTextDark3 = mix(colorTextDark1, white, 80%)
colorTextDark4 = mix(colorTextDark1, white, 65%)
colorTextDark5 = mix(colorTextDark1, white, 50%)

colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

colorBorder = colorText1

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
