font-large()
    font-family SBSans, Roboto, monospace
    line-height 1.2
    font-size calc(1.2rem)
font-medium()
    font-family SBSans
    line-height 1.2
    font-size calc(1rem)
font-small()
    font-family SBSans, Roboto, monospace
    line-height 1.2
    font-size calc(0.8rem)
font-small-extra()
    font-family SBSans, Roboto, monospace
    line-height 1.2
    font-size calc(0.7rem)

font-bold()
    font-weight 700
font-normal()
    font-weight 500
font-thin()
    font-weight 400
