@require 'constants.styl'

centered-margin()
    margin-left auto
    margin-right auto
    width 100%
centered-flex-container()
    display flex
    align-items center
    justify-content center
centered-absolute-transform()
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)


pc-hidden()
    @media ({desktop})
        display none
mobile-hidden()
    @media ({mobile})
        display none
